<div id="sidebars">
  <div id="sidebar_full">
    <ul>
      <li>
        <%= render :partial => "layouts/public/blocks/comments", :locals => { :comments => @post.comments.active } %>
      </li>
    </ul>
  </div>
  <div class="cleared"></div>
</div>