[submodule "vendor/plugins/tiny_mce"]
	path = vendor/plugins/tiny_mce
	url = git://github.com/kete/tiny_mce.git
[submodule "vendor/plugins/rakismet"]
	path = vendor/plugins/rakismet
	url = git://github.com/jfrench/rakismet.git
[submodule "vendor/plugins/pingback_engine"]
	path = vendor/plugins/pingback_engine
	url = git://github.com/apotonick/pingback_engine.git
[submodule "vendor/plugins/permalink_fu"]
	path = vendor/plugins/permalink_fu
	url = git://github.com/technoweenie/permalink_fu.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
[submodule "vendor/plugins/brain_buster"]
	path = vendor/plugins/brain_buster
	url = git://github.com/rsanheim/brain_buster.git
[submodule "pingback_engine"]
	path = pingback_engine
	url = git://github.com/apotonick/pingback_engine.git
[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
