<div class="sidebarbox">
  <h2>Meta</h2>
  <ul>
    <li>Login/Logout</li>
    <li><a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></li>
  </ul>
</div>